<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        verbose="false"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="reports/unit.xml"/>
    </logging>
</phpunit>
